[class*='flex']{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
  //text-align: center;
}
img {
  max-width: 100%;
}
.image.absolute{
  top: 0;
  left:0;
  z-index: -1;
  height: 100%;

  img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
}
.clearfix{
  clear: both;
}
.white{
  background: $white!important;
}
.pointer{
  cursor: pointer;
}
.right{
  float: right;
}
.left{
  float: left;
}
.no-padding{
  padding: 0!important;
}
.no-margin{
  margin: 0!important;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}

div, section{
  box-sizing: border-box;
}

//normalize
body * {
  word-break: break-word;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
}

article,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

[hidden],
template {
  display: none;
}

p {
  color: inherit;
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container{
  margin: 0 auto;
  width: 100%;
}
.section-header{
  padding: 78px 0;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.app-wrap {
  > div {
    padding: 10px 16px;
  }
}

.input-field {
  margin-bottom: 15px;
  input {
    border: none;
    background: #ededed;
    outline: none;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    &.dis {
      background: #ddd!important;
    }
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #222;
  text-decoration: none;
}

.offset {
  margin: 0 0 15px;
}

.hidden {
  display: none!important;
}
.capitalize {
  text-transform: capitalize;
}
.full-fixed {
  height: 100vh;
  position: fixed;
  top:0 ;
  left:0;
  width: 100%;
  letter-spacing: 1px;
}

.light {
  color: #b8b2b7;
}
.white-text {
  color: $white;
}

.bold {
  font-weight: bold;
}
.thanks {
  position: absolute;
  top: 450px;
  width: 100%;
  left: 0;
  height: 50px;
}
.filters {
  width: 100%;
  margin-bottom: -1px;
}
.hotel-view{
  padding: 0!important;
  @extend .full-fixed;
  overflow-y: scroll;
  .back {
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.orange {
  background: $orange;
}