$font-family: 'Helvetica', sans-serif;

$yellow: #f9cc3a;
$orange: #f7bd33;
$black: #202020;
$blue: #1a75d4;
$red: #e16462;
$pink: #f47471;
$white: #fff;
$light-grey: #f6f6f6;
$bg-grey: #f2f4f6;

//grid
$rwd-spaces: xs sm md lg;
$rwd-columns: 1 2 3 4 5 6 7 8 9 10;
$rwd-columns-2: 1 2 3 4 5 6 7 8 9 10 11 12;

$hover-colors: yellow red pink white;
$color-codes: #f9cc3a $red $pink $white;

@mixin icon($name, $width, $height) {
  width: $width;
  height: $height;
  background-image: url('../images/#{$name}.png');
  background-repeat: no-repeat;
}

$i: 1;

@each $color in $hover-colors {
  .#{$color}-hover {

    position: relative;

    > * {
      position: relative;
    }

    .plus-icon {
      transform: rotate(0deg);
      transition: 0.5s ease;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s ease;
      background: nth($color-codes, $i);
      width: 100%;
      height: 0;
    }

    .to-white-color {
      transition: 0.5s ease;
    }

    &:hover {

      &:before {
        height: 100%;
      }

      .plus-icon {
        transform: rotate(180deg);
      }

      .to-white-color {
        color: $white!important;
      }

    }

  }
  $i: $i + 1;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name, $count, $time, $delay, $timing) {
  animation-name: $name;
  animation-duration: $time;
  animation-iteration-count: $count;
  animation-timing-function: $timing;
  animation-delay: $delay;
}