.result {
  position: relative;
  background: #fafbfc;
  margin: 0 0 8px;
  padding: 4px;
  border-bottom: 1px solid #dcdde2;
  img {
    object-fit: cover;
  }
  .preview {
    width: 40%;
    margin-right: 4px;
    display: flex;
    + div {
      width: 60%;
      padding-right: 20px;
      padding-bottom: 55px;
    }
  }
  .hotel-title {
    font-size: 16px;
    font-weight: 600;
  }

}

.results-wrap {
  background: $bg-grey;
  min-height: 100vh;
}

.loading {
  position: fixed;
  width: auto;
  left: 17px;
  right: 17px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 185px;
  top: 224px;
  text-align: center;
  .inner {
    align-items: center;
    img {
      margin-bottom: 30px;
    }
    p {
      max-width: 200px;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

//.hotel-tags {
//  bottom: 0;
//  padding-left: 4px;
//  padding-bottom: 4px;
//  align-items: flex-start;
//}

.arrow {
  right: 4px;
  top: calc(50% - 5px);
}

.rating {
  color: $blue;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-top: 6px;
  span {
    background: $blue;
    color: #fff;
    width: 24px;
    display: inline-block;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px 4px 4px 0;
    margin-right: 5px;
  }
}

.stars {
  align-items: center;
  display: flex;
  margin-top: 3px;
  .thumb {
    margin-left: 4px;
  }
}

.location {
  line-height: 23px;
  font-size: 13px;
  margin-top: 4px;
}

.price {
  color: #0ab21b;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  width: 100%;
  position: absolute;
  right: 10px;
  bottom: 15px;
}