.yellow-hover {
  position: relative; }
  .yellow-hover > * {
    position: relative; }
  .yellow-hover .plus-icon {
    transform: rotate(0deg);
    transition: 0.5s ease; }
  .yellow-hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: #f9cc3a;
    width: 100%;
    height: 0; }
  .yellow-hover .to-white-color {
    transition: 0.5s ease; }
  .yellow-hover:hover:before {
    height: 100%; }
  .yellow-hover:hover .plus-icon {
    transform: rotate(180deg); }
  .yellow-hover:hover .to-white-color {
    color: #fff !important; }

.red-hover {
  position: relative; }
  .red-hover > * {
    position: relative; }
  .red-hover .plus-icon {
    transform: rotate(0deg);
    transition: 0.5s ease; }
  .red-hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: #e16462;
    width: 100%;
    height: 0; }
  .red-hover .to-white-color {
    transition: 0.5s ease; }
  .red-hover:hover:before {
    height: 100%; }
  .red-hover:hover .plus-icon {
    transform: rotate(180deg); }
  .red-hover:hover .to-white-color {
    color: #fff !important; }

.pink-hover {
  position: relative; }
  .pink-hover > * {
    position: relative; }
  .pink-hover .plus-icon {
    transform: rotate(0deg);
    transition: 0.5s ease; }
  .pink-hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: #f47471;
    width: 100%;
    height: 0; }
  .pink-hover .to-white-color {
    transition: 0.5s ease; }
  .pink-hover:hover:before {
    height: 100%; }
  .pink-hover:hover .plus-icon {
    transform: rotate(180deg); }
  .pink-hover:hover .to-white-color {
    color: #fff !important; }

.white-hover {
  position: relative; }
  .white-hover > * {
    position: relative; }
  .white-hover .plus-icon {
    transform: rotate(0deg);
    transition: 0.5s ease; }
  .white-hover:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: #fff;
    width: 100%;
    height: 0; }
  .white-hover .to-white-color {
    transition: 0.5s ease; }
  .white-hover:hover:before {
    height: 100%; }
  .white-hover:hover .plus-icon {
    transform: rotate(180deg); }
  .white-hover:hover .to-white-color {
    color: #fff !important; }

@media (min-width: 0px) {
  .col-xs-1-10 {
    width: 10%; } }

@media (min-width: 0px) {
  .col-xs-2-10 {
    width: 20%; } }

@media (min-width: 0px) {
  .col-xs-3-10 {
    width: 30%; } }

@media (min-width: 0px) {
  .col-xs-4-10 {
    width: 40%; } }

@media (min-width: 0px) {
  .col-xs-5-10 {
    width: 50%; } }

@media (min-width: 0px) {
  .col-xs-6-10 {
    width: 60%; } }

@media (min-width: 0px) {
  .col-xs-7-10 {
    width: 70%; } }

@media (min-width: 0px) {
  .col-xs-8-10 {
    width: 80%; } }

@media (min-width: 0px) {
  .col-xs-9-10 {
    width: 90%; } }

@media (min-width: 0px) {
  .col-xs-10-10 {
    width: 100%; } }

@media (min-width: 675px) {
  .col-sm-1-10 {
    width: 10%; } }

@media (min-width: 675px) {
  .col-sm-2-10 {
    width: 20%; } }

@media (min-width: 675px) {
  .col-sm-3-10 {
    width: 30%; } }

@media (min-width: 675px) {
  .col-sm-4-10 {
    width: 40%; } }

@media (min-width: 675px) {
  .col-sm-5-10 {
    width: 50%; } }

@media (min-width: 675px) {
  .col-sm-6-10 {
    width: 60%; } }

@media (min-width: 675px) {
  .col-sm-7-10 {
    width: 70%; } }

@media (min-width: 675px) {
  .col-sm-8-10 {
    width: 80%; } }

@media (min-width: 675px) {
  .col-sm-9-10 {
    width: 90%; } }

@media (min-width: 675px) {
  .col-sm-10-10 {
    width: 100%; } }

@media (min-width: 1025px) {
  .col-md-1-10 {
    width: 10%; } }

@media (min-width: 1025px) {
  .col-md-2-10 {
    width: 20%; } }

@media (min-width: 1025px) {
  .col-md-3-10 {
    width: 30%; } }

@media (min-width: 1025px) {
  .col-md-4-10 {
    width: 40%; } }

@media (min-width: 1025px) {
  .col-md-5-10 {
    width: 50%; } }

@media (min-width: 1025px) {
  .col-md-6-10 {
    width: 60%; } }

@media (min-width: 1025px) {
  .col-md-7-10 {
    width: 70%; } }

@media (min-width: 1025px) {
  .col-md-8-10 {
    width: 80%; } }

@media (min-width: 1025px) {
  .col-md-9-10 {
    width: 90%; } }

@media (min-width: 1025px) {
  .col-md-10-10 {
    width: 100%; } }

@media (min-width: 1500px) {
  .col-lg-1-10 {
    width: 10%; } }

@media (min-width: 1500px) {
  .col-lg-2-10 {
    width: 20%; } }

@media (min-width: 1500px) {
  .col-lg-3-10 {
    width: 30%; } }

@media (min-width: 1500px) {
  .col-lg-4-10 {
    width: 40%; } }

@media (min-width: 1500px) {
  .col-lg-5-10 {
    width: 50%; } }

@media (min-width: 1500px) {
  .col-lg-6-10 {
    width: 60%; } }

@media (min-width: 1500px) {
  .col-lg-7-10 {
    width: 70%; } }

@media (min-width: 1500px) {
  .col-lg-8-10 {
    width: 80%; } }

@media (min-width: 1500px) {
  .col-lg-9-10 {
    width: 90%; } }

@media (min-width: 1500px) {
  .col-lg-10-10 {
    width: 100%; } }

[class*='flex'] {
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

img {
  max-width: 100%; }

.image.absolute {
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%; }
  .image.absolute img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.clearfix {
  clear: both; }

.yellow {
  background: #f9cc3a; }

.red {
  background: #e16462; }

.white {
  background: #fff !important; }

.black {
  background: #202020; }

.light-grey {
  background: #f6f6f6; }

.pointer {
  cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

div, section {
  box-sizing: border-box; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@media (min-width: 0px) {
  .col-xs-1-12 {
    width: 8.33333%; } }

@media (min-width: 0px) {
  .col-xs-2-12 {
    width: 16.66667%; } }

@media (min-width: 0px) {
  .col-xs-3-12 {
    width: 25%; } }

@media (min-width: 0px) {
  .col-xs-4-12 {
    width: 33.33333%; } }

@media (min-width: 0px) {
  .col-xs-5-12 {
    width: 41.66667%; } }

@media (min-width: 0px) {
  .col-xs-6-12 {
    width: 50%; } }

@media (min-width: 0px) {
  .col-xs-7-12 {
    width: 58.33333%; } }

@media (min-width: 0px) {
  .col-xs-8-12 {
    width: 66.66667%; } }

@media (min-width: 0px) {
  .col-xs-9-12 {
    width: 75%; } }

@media (min-width: 0px) {
  .col-xs-10-12 {
    width: 83.33333%; } }

@media (min-width: 0px) {
  .col-xs-11-12 {
    width: 91.66667%; } }

@media (min-width: 0px) {
  .col-xs-12-12 {
    width: 100%; } }

@media (min-width: 675px) {
  .col-sm-1-12 {
    width: 8.33333%; } }

@media (min-width: 675px) {
  .col-sm-2-12 {
    width: 16.66667%; } }

@media (min-width: 675px) {
  .col-sm-3-12 {
    width: 25%; } }

@media (min-width: 675px) {
  .col-sm-4-12 {
    width: 33.33333%; } }

@media (min-width: 675px) {
  .col-sm-5-12 {
    width: 41.66667%; } }

@media (min-width: 675px) {
  .col-sm-6-12 {
    width: 50%; } }

@media (min-width: 675px) {
  .col-sm-7-12 {
    width: 58.33333%; } }

@media (min-width: 675px) {
  .col-sm-8-12 {
    width: 66.66667%; } }

@media (min-width: 675px) {
  .col-sm-9-12 {
    width: 75%; } }

@media (min-width: 675px) {
  .col-sm-10-12 {
    width: 83.33333%; } }

@media (min-width: 675px) {
  .col-sm-11-12 {
    width: 91.66667%; } }

@media (min-width: 675px) {
  .col-sm-12-12 {
    width: 100%; } }

@media (min-width: 1025px) {
  .col-md-1-12 {
    width: 8.33333%; } }

@media (min-width: 1025px) {
  .col-md-2-12 {
    width: 16.66667%; } }

@media (min-width: 1025px) {
  .col-md-3-12 {
    width: 25%; } }

@media (min-width: 1025px) {
  .col-md-4-12 {
    width: 33.33333%; } }

@media (min-width: 1025px) {
  .col-md-5-12 {
    width: 41.66667%; } }

@media (min-width: 1025px) {
  .col-md-6-12 {
    width: 50%; } }

@media (min-width: 1025px) {
  .col-md-7-12 {
    width: 58.33333%; } }

@media (min-width: 1025px) {
  .col-md-8-12 {
    width: 66.66667%; } }

@media (min-width: 1025px) {
  .col-md-9-12 {
    width: 75%; } }

@media (min-width: 1025px) {
  .col-md-10-12 {
    width: 83.33333%; } }

@media (min-width: 1025px) {
  .col-md-11-12 {
    width: 91.66667%; } }

@media (min-width: 1025px) {
  .col-md-12-12 {
    width: 100%; } }

@media (min-width: 1500px) {
  .col-lg-1-12 {
    width: 8.33333%; } }

@media (min-width: 1500px) {
  .col-lg-2-12 {
    width: 16.66667%; } }

@media (min-width: 1500px) {
  .col-lg-3-12 {
    width: 25%; } }

@media (min-width: 1500px) {
  .col-lg-4-12 {
    width: 33.33333%; } }

@media (min-width: 1500px) {
  .col-lg-5-12 {
    width: 41.66667%; } }

@media (min-width: 1500px) {
  .col-lg-6-12 {
    width: 50%; } }

@media (min-width: 1500px) {
  .col-lg-7-12 {
    width: 58.33333%; } }

@media (min-width: 1500px) {
  .col-lg-8-12 {
    width: 66.66667%; } }

@media (min-width: 1500px) {
  .col-lg-9-12 {
    width: 75%; } }

@media (min-width: 1500px) {
  .col-lg-10-12 {
    width: 83.33333%; } }

@media (min-width: 1500px) {
  .col-lg-11-12 {
    width: 91.66667%; } }

@media (min-width: 1500px) {
  .col-lg-12-12 {
    width: 100%; } }

body * {
  word-break: break-word; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: #202020; }

article,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

[hidden],
template {
  display: none; }

p {
  color: inherit;
  margin: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin: 0 auto;
  width: 100%; }

.section-header {
  padding: 78px 0; }

.flex-space-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.app-wrap > div {
  padding: 10px 16px; }

.input-field {
  margin-bottom: 15px; }
  .input-field input {
    border: none;
    background: #ededed;
    outline: none;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px; }
    .input-field input.dis {
      background: #ddd !important; }

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #222;
  text-decoration: none; }

.offset {
  margin: 0 0 15px; }

.hidden {
  display: none !important; }

.result {
  position: relative;
  background: #fafbfc;
  margin: 0 0 15px;
  padding: 15px; }

.results-wrap {
  margin-top: -10px;
  background: #f2f4f6; }

.loading {
  position: absolute;
  width: auto;
  left: 17px;
  right: 17px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 185px;
  top: 224px;
  text-align: center; }
  .loading .inner {
    -ms-flex-align: center;
    align-items: center; }
    .loading .inner img {
      margin-bottom: 30px; }
    .loading .inner span {
      max-width: 200px;
      font-size: 13px;
      font-weight: 600; }

.tags-wrap {
  background: #fff;
  position: relative; }
  .tags-wrap .tags {
    width: auto;
    min-width: 100%;
    margin: 10px -4px 8px; }
    .tags-wrap .tags > div {
      width: 100%;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .tags-wrap .tags > div:nth-child(2n) .tag:nth-child(2n) {
        -ms-flex: 1;
        flex: 1; }
      .tags-wrap .tags > div:nth-child(2n+1) .tag:nth-child(2n + 1) {
        -ms-flex: 1;
        flex: 1; }

.tag {
  position: relative;
  padding: 17px 50px 17px 20px;
  border-radius: 4px;
  background: white;
  border: 2px solid #1a75d4;
  cursor: pointer;
  margin: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 600; }
  .tag:not(.dis):hover, .tag.selected {
    color: #fff;
    border-color: #f7bd33;
    background: #f7bd33; }
  .tag.dis {
    opacity: 0.5;
    background: white !important; }
  .tag .close {
    top: 15px;
    right: 17px; }
    .tag .close img {
      width: 20px; }

.modal {
  position: absolute;
  top: 56px;
  height: auto;
  width: auto;
  left: 16px;
  right: 16px;
  transition: 0.3s ease;
  z-index: 10; }
  .modal.hid {
    opacity: 0;
    top: -100px;
    pointer-events: none; }
  .modal .inner {
    padding: 7px 8px 8px; }
  .modal .title {
    font-size: 24px;
    font-weight: 600;
    padding-right: 60px;
    line-height: 30px; }
  .modal > .close {
    top: 0;
    right: 0;
    padding: 21px 32px; }
    .modal > .close img {
      width: 26px; }

.note {
  font-size: 12px;
  line-height: 18px; }

.bg {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.button {
  width: 100%;
  background: blue;
  display: inline-block;
  line-height: 67px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px; }

.autocomplete-list {
  padding: 0 6px; }
  .autocomplete-list ul {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 2px 0 0;
    background: #fff; }
    .autocomplete-list ul a {
      line-height: 33px;
      padding: 7px 12px;
      width: 100%;
      display: inline-block;
      text-decoration: none;
      color: #222; }
      .autocomplete-list ul a img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px; }

.app-wrap {
  min-height: 100vh;
  background: url("../images/landing-view.png") top center no-repeat; }

.filters-wrap {
  background-size: cover; }
  .filters-wrap.collapsed .input-field {
    margin: 72px -16px 0;
    padding: 17px;
    width: auto; }
    .filters-wrap.collapsed .input-field input {
      line-height: 49px; }
  .filters-wrap .input-field {
    position: relative;
    margin: 227px auto 0;
    width: 100%;
    padding: 6px;
    background: #eeba45;
    transition: 0.3s ease; }
    .filters-wrap .input-field input {
      line-height: 56px;
      transition: 0.3s ease;
      padding: 0 10px 0 35px;
      background: #fff url(../images/search.png) 10px center no-repeat;
      background-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #383838; }
    .filters-wrap .input-field .close {
      top: 17px;
      right: 15px;
      padding: 16px 15px; }
      .filters-wrap .input-field .close img {
        width: 12px; }
