[class*='flex'] {
  display: -ms-flexbox;
  display: flex; }

.flex-center {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

img {
  max-width: 100%; }

.image.absolute {
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%; }
  .image.absolute img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.clearfix {
  clear: both; }

.white {
  background: #fff !important; }

.pointer {
  cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

div, section {
  box-sizing: border-box; }

body * {
  word-break: break-word; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: "Helvetica", sans-serif; }

article,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

[hidden],
template {
  display: none; }

p {
  color: inherit;
  margin: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin: 0 auto;
  width: 100%; }

.section-header {
  padding: 78px 0; }

.flex-space-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.app-wrap > div {
  padding: 10px 16px; }

.input-field {
  margin-bottom: 15px; }
  .input-field input {
    border: none;
    background: #ededed;
    outline: none;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px; }
    .input-field input.dis {
      background: #ddd !important; }

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #222;
  text-decoration: none; }

.offset {
  margin: 0 0 15px; }

.hidden {
  display: none !important; }

.capitalize {
  text-transform: capitalize; }

.full-fixed, .hotel-view {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px; }

.light {
  color: #b8b2b7; }

.white-text {
  color: #fff; }

.bold {
  font-weight: bold; }

.thanks {
  position: absolute;
  top: 450px;
  width: 100%;
  left: 0;
  height: 50px; }

.filters {
  width: 100%;
  margin-bottom: -1px; }

.hotel-view {
  padding: 0 !important;
  overflow-y: scroll; }
  .hotel-view .back {
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer; }
  .hotel-view img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover; }

.orange {
  background: #f7bd33; }

.result {
  position: relative;
  background: #fafbfc;
  margin: 0 0 8px;
  padding: 4px;
  border-bottom: 1px solid #dcdde2; }
  .result img {
    -o-object-fit: cover;
    object-fit: cover; }
  .result .preview {
    width: 40%;
    margin-right: 4px;
    display: -ms-flexbox;
    display: flex; }
    .result .preview + div {
      width: 60%;
      padding-right: 20px;
      padding-bottom: 55px; }
  .result .hotel-title {
    font-size: 16px;
    font-weight: 600; }

.results-wrap {
  background: #f2f4f6;
  min-height: 100vh; }

.loading {
  position: fixed;
  width: auto;
  left: 17px;
  right: 17px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 185px;
  top: 224px;
  text-align: center; }
  .loading .inner {
    -ms-flex-align: center;
    align-items: center; }
    .loading .inner img {
      margin-bottom: 30px; }
    .loading .inner p {
      max-width: 200px;
      font-size: 13px;
      font-weight: 600; }

.arrow {
  right: 4px;
  top: calc(50% - 5px); }

.rating {
  color: #00378b;
  font-weight: 600;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px; }
  .rating span {
    background: #00378b;
    color: #fff;
    width: 24px;
    display: inline-block;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px 4px 4px 0;
    margin-right: 5px; }

.stars {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px; }
  .stars .thumb {
    margin-left: 4px; }

.location {
  line-height: 23px;
  font-size: 13px;
  margin-top: 4px; }

.price {
  color: #0ab21b;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  width: 100%;
  position: absolute;
  right: 10px;
  bottom: 15px; }

.tags-wrap {
  background: #fff;
  position: relative; }
  .tags-wrap .tags {
    width: auto;
    min-width: 100%;
    margin: 10px -4px 8px;
    max-height: 190px;
    overflow: hidden; }
    .tags-wrap .tags > div {
      width: 100%;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .tags-wrap .tags > div:nth-child(2n) .tag:nth-child(2n) {
        -ms-flex: 1;
        flex: 1; }
      .tags-wrap .tags > div:nth-child(2n+1) .tag:nth-child(2n + 1) {
        -ms-flex: 1;
        flex: 1; }

.tag {
  position: relative;
  padding: 17px 40px 17px 20px;
  border-radius: 4px;
  background: white;
  border: 2px solid #1a75d4;
  cursor: pointer;
  margin: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 600; }
  .tag:not(.dis):hover, .tag.selected {
    color: #fff;
    border-color: #f7bd33;
    background: #f7bd33; }
  .tag.dis {
    opacity: 0.5;
    background: white !important; }
  .tag .close {
    top: 15px;
    right: 17px; }
    .tag .close img {
      width: 20px; }

.modal {
  position: absolute;
  top: 56px;
  height: auto;
  width: auto;
  left: 16px;
  right: 16px;
  transition: 0.3s ease;
  z-index: 10; }
  .modal.hid {
    opacity: 0;
    top: -100px;
    pointer-events: none; }
  .modal .inner {
    padding: 7px 8px 8px; }
  .modal .title {
    font-size: 24px;
    font-weight: 600;
    padding-right: 60px;
    line-height: 30px; }
  .modal > .close {
    top: 0;
    right: 0;
    padding: 21px 32px; }
    .modal > .close img {
      width: 26px; }

.note {
  font-size: 12px;
  line-height: 18px; }

.bg {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.button {
  width: 100%;
  background: blue;
  display: inline-block;
  line-height: 67px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px; }

.selected-tags {
  background: #1a75d4;
  position: relative;
  border: 1px solid #ffffff;
  padding: 16px; }
  .selected-tags:before {
    content: '';
    height: 1px;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    background: #f7bd33; }
  .selected-tags span, .selected-tags a {
    background: #f7bd33;
    color: #fff;
    text-transform: capitalize;
    padding: 0 28px 0 12px;
    line-height: 29px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    float: left; }
    .selected-tags span.edit, .selected-tags a.edit {
      background: #31373f;
      padding-right: 12px;
      margin: 0; }
      .selected-tags span.edit img, .selected-tags a.edit img {
        padding-left: 15px;
        position: relative;
        top: 2px; }

.filters-wrap.expanded .autocomplete-list {
  top: 293px;
  left: 6px;
  right: 6px; }

.filters-wrap.expanded .input-field .close {
  top: 12px;
  right: 4px; }

.autocomplete-list {
  padding: 0;
  z-index: 1;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  top: 141px; }
  .autocomplete-list ul {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 2px 0 0;
    background: #fff; }
    .autocomplete-list ul a {
      padding: 12.5px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      text-decoration: none;
      box-sizing: border-box;
      color: #222; }
      .autocomplete-list ul a img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px; }

.app-wrap {
  min-height: 100vh;
  background: url("../images/landing-view.png") top center no-repeat;
  background-size: 100% auto; }

.filters-wrap {
  background-size: cover; }
  .filters-wrap.collapsed .input-field {
    margin: 72px -16px -10px;
    padding: 17px;
    width: auto; }
    .filters-wrap.collapsed .input-field input {
      line-height: 49px; }
  .filters-wrap .input-field {
    position: relative;
    margin: 227px auto 0;
    width: 100%;
    padding: 6px;
    background: #eeba45;
    transition: 0.3s ease; }
    .filters-wrap .input-field input {
      line-height: 56px;
      transition: 0.3s ease;
      padding: 0 10px 0 35px;
      background: #fff url(../images/search.png) 10px center no-repeat;
      background-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #383838; }
    .filters-wrap .input-field .close {
      top: 17px;
      right: 15px;
      padding: 16px 15px; }
      .filters-wrap .input-field .close img {
        width: 12px; }
